.disclaimer-premium {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}
.disclaimer-premium .text { flex-shrink: 0;}
.disclaimer-premium .disclaimer-premium_title {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}
.disclaimer-premium button {
  color: var(--fontcolor-terciary);
  font-size: var(--fontsize-link);
  font-weight: var(--fontweight-bold);
  padding: 15px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  flex-shrink: 0;
}